$color-bg: #1f1f38;
$color-bg-variant: #2c2c6c;
$color-primary: #4db5ff;
$color-primary-variant: #4db5ffcb;

$color-white: #fff;
$color-light: #ffffff99;

$transition: all 400ms ease;

$container-width-md: 75%;
$container-width-sm: 86%;
$container-width-mobile: 90%;
